<mat-toolbar>
  <span [routerLink]="['/']"><mat-icon>euro</mat-icon>urrencyFlip</span>
  <span class="toolbar-spacer"></span>
  <span *ngIf="currentUser">Hello, {{ currentUser }}</span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div *ngIf="isLoggedIn()" (click)="$event.stopPropagation()">
      <button mat-button [routerLink]="['/myprofile']">
        <mat-icon>person</mat-icon> My Profile
      </button>
      <button mat-button [routerLink]="['/favourites']">
        <mat-icon>favorite</mat-icon> My Favourites
      </button>
      <button mat-button [routerLink]="['/mylistings']">
        <mat-icon>format_list_bulleted</mat-icon> My Listings
      </button>
      <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon> Logout
      </button>
    </div>
    <form
      (click)="$event.stopPropagation()"
      [formGroup]="form"
      *ngIf="!isLoggedIn()"
    >
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input
          matInput
          type="text"
          placeholder="Your username here"
          formControlName="username"
        />
        <mat-error>Username is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Your password here"
          formControlName="password"
        />
        <mat-error>Password is required</mat-error>
      </mat-form-field>
      <br />
      <button mat-button (click)="submitLogin()">Login</button>
      <button mat-button (click)="signUp()">Sign Up</button>
    </form>
  </mat-menu>
</mat-toolbar>
<div class="router-container">
  <router-outlet></router-outlet>
</div>
