<div>
  <h1>Choose your currency</h1>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>From:</mat-label>
      <mat-select name="currFrom" formControlName="currFrom">
        <mat-option *ngFor="let curr of currencies" [value]="curr">
          {{ curr }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>To:</mat-label>
      <mat-select name="currTo" formControlName="currTo">
        <mat-option *ngFor="let curr of currencies" [value]="curr">
          {{ curr }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <button mat-button type="submit" [disabled]="invalid()">
      Go <mat-icon>search</mat-icon>
    </button>
  </form>
</div>
