.bubble-right {
  background-color: grey;
  padding: 20px;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
  height: auto + 100px;
  width: 50vw;
}
