<h1>Historical Exchange Rates for {{ currFrom }} to {{ currTo }}</h1>
<p *ngIf="rates.length == 0">Exchange rate data not available</p>

<ngx-charts-line-chart
  *ngIf="!!rates.length"
  [view]="view"
  [results]="rates"
  [legend]="legend"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [timeline]="timeline"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [autoScale]="autoScale"
  [referenceLines]="referenceLines"
  [showRefLines]="showRefLines"
></ngx-charts-line-chart>

<div>
  <h1>Listings</h1>
  <button
    mat-button
    (click)="formCardVisible = !formCardVisible"
    [disabled]="username == ''"
  >
    <mat-icon>format_list_bulleted_add</mat-icon> Add a Listing!
  </button>
  <mat-card *ngIf="formCardVisible" style="margin-bottom: 5px">
    <form [formGroup]="formCard" (ngSubmit)="submitFormCard()">
      <mat-card-header>
        <mat-card-title>
          <mat-form-field>
            <mat-label>Your Listing Title here</mat-label>
            <input
              matInput
              type="text"
              placeholder="eg. My First Listing"
              formControlName="title"
            />
          </mat-form-field>
        </mat-card-title>
        <mat-card-subtitle>
          <mat-form-field>
            <mat-label>Select currency from</mat-label>
            <mat-select formControlName="currFrom">
              <mat-option *ngFor="let curr of currencies" [value]="curr">{{
                curr
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <span> to </span>
          <mat-form-field>
            <mat-label>Select currency to</mat-label>
            <mat-select formControlName="currTo">
              <mat-option *ngFor="let curr of currencies" [value]="curr">{{
                curr
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error
            *ngIf="
              formCard.controls['currFrom'].value ==
              formCard.controls['currTo'].value
            "
            >Currencies cannot be the same!</mat-error
          >
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h2>
          Rate:
          <mat-form-field>
            <mat-label>Your offered exchange rate here</mat-label>
            <input
              matInput
              type="number"
              placeholder="eg. 3.30"
              formControlName="rate"
            />
          </mat-form-field>
        </h2>
        <p>
          Description:
          <mat-form-field>
            <mat-label>Your listing description here</mat-label>
            <input
              matInput
              type="text"
              placeholder="eg. My first listing!"
              formControlName="description"
            />
          </mat-form-field>
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button type="submit" [disabled]="formCard.invalid">
          <mat-icon>add</mat-icon> Add
        </button>
        <button mat-button type="button" (click)="cancelFormCard()">
          <mat-icon>close</mat-icon> Cancel
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
  <p *ngIf="listings.length == 0">Listings not available</p>
  <div class="listing-container">
    <mat-card
      *ngFor="let l of listings; let i = index"
      [ngClass]="cardClass(i)"
      (mouseenter)="onMouseOver(l, i)"
      (mouseleave)="onMouseOut(i)"
      style="margin-bottom: 5px"
    >
      <mat-card-header>
        <mat-card-title>{{ l.title }} by {{ l.username }}</mat-card-title>
        <mat-card-subtitle
          >{{ l.currFrom }} to {{ l.currTo }}</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content>
        <h2>Rate: {{ l.rate.toPrecision(4) }}</h2>
        <p>{{ l.description }}</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button
          mat-button
          (click)="addFavourite(l.listingId)"
          [disabled]="l.username == username"
        >
          <mat-icon>favorite</mat-icon> Save
        </button>
        <button
          mat-button
          (click)="goToChat(l)"
          [disabled]="l.username == username"
        >
          <mat-icon>chat</mat-icon> Chat
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
